body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #DAE2DF;
    color: #0A0A0A;
    padding-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #C6D2CE;
    padding: 10px 0 10px 0;
    text-align: center;
    z-index: 1000;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    list-style-type: none;
}

header nav a {
    color: #488B49;
    text-decoration: none;
    font-size: 1.5em;
    margin-left: 10px;
    margin-right: 10px;
}

#landing {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#title-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 5%;
}

#logoImg{
    width: 25%;
    height: 25%;
}

#title {
    font-family: "Bilbo", cursive;
    color: #488B49;
    font-size: 5em;
    text-align: center;
    margin-bottom: 20px;
}

#page-title {
    margin-top: 5%;
    font-family: "Bilbo", cursive;
    font-size: 3em;
    margin-bottom: 20px;
    color: #73AB84;
}

#contributors {
    font-size: 1.2em;
    padding: 2.5% 2.5% 2.5% 2.5%;
    background-color: #C6D2CE;
    border-radius: 25px;
}

#description {
    font-size: 1.2em;
    margin: 5% 5% 5% 5%;
}

#search {
    width: 98%;
    background-color: #C6D2CE;
    color: #0A0A0A;
    font-size: 1em;
    padding: 1% 1% 1% 1%;
    border-radius: 25px;
    margin-bottom: 2.5%;
    border: none;
}


#container {
    font-size: 1.2em;
    background-color: #C6D2CE;
    border-radius: 25px;
    padding: 2.5% 2.5% 2.5% 2.5%;
    margin-bottom: 2.5%;
}

#container div {
    margin-bottom: 2.5%;
}

#container button {
    background-color: #488B49;
    color: #DAE2DF;
    border-radius: 5px;
    border: none;
    width: fit-content;
    padding: 0.5% 1% 0.5% 1%;
    margin: 1% 0% 1% 1%;
}


#editField {
    display: flex;
    flex-direction: row;
}

.editSection {
    display: flex;
    flex-direction: row;
    margin-right: 5%;
}

.editSection input {
    background-color: #DAE2DF;
    border-radius: 5px;
    border: none;
    width: fit-content;
    margin-left: 5%;
    padding: 1% 1% 1% 1%;
}