body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #DAE2DF;
    color: #0A0A0A;
    padding-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
}

#landing {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#title {
    font-family: "Bilbo", cursive;
    color: #488B49;
    font-size: 3em;
    text-align: center;
    margin-bottom: 20px;
}

#page-selector{
    background-color: #C6D2CE;
    width: fit-content;
    padding: 1% 1% 1% 1%;
    border-radius: 25px;
}

#page-selector h2 {
    text-align: center;
}

#page-selector ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#page-selector a {
    color: #73AB84;
    padding: 0 10px 0 10px;
}

#page-title {
    font-family: "Bilbo", cursive;
    font-size: 3em;
    margin-bottom: 20px;
    color: #73AB84;
}

#container {
    font-size: 1.2em;
    background-color: #C6D2CE;
    border-radius: 25px;
    padding: 2.5% 2.5% 2.5% 2.5%;
    margin-bottom: 2.5%;
}

#container div {
    margin-bottom: 2.5%;
}
